/* ================================= 
  Base Element Styles
==================================== */

* {
	box-sizing: border-box;
}
h1{
    margin:0;
}

body {
	font-family: Helvetica , 'Varela Round', sans-serif;
	line-height: 1.6;
    color: #3a3a3a;
    width: 100%;
}

p {
	font-size: .95em;
	margin-bottom: 1.8em;
}

.hide{
    display: none;
}

h2,
h3,
a {
	color: #000;
}

h2,
h3 {
    margin-top: 0;
    
}

h2, h3{
    align-self: center;
    font-family: 'Source Code Pro', monospace;
    margin-top: 10px;
}

h3{
    font-size: 1.7rem;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
}

footer{
    text-align: center;
    display: flex;
    flex-direction: column-reverse;
    justify-content: stretch;
    align-items: stretch;
}

footer p{
    margin: 5px auto;
}

figcaption{
    text-align: center;
    margin-bottom: 30px;
    max-height: 70px;
}
figure{
    display: flex;
    flex-direction: column;
}

form{
    display: flex;
    flex-direction: column;
}


button{
    background-color: green;
    border: 0px solid rgb(24, 255, 3);
    margin: .5em;
    padding: .5em 1em;
    font-size: 1em;
}

button a{
    color: white;
}


/* ================================= 
  Base Layout Styles
==================================== */

/* ---- Navigation ---- */

.name {
	font-size: 1.75 em;
	font-weight: 800;
    padding-left: 1em;
    font-family: 'Source Code Pro', monospace;

}

.main-header{
    display: flex;
    background-color: green;
    color: white;
    width: 100%;
    flex-direction: column;
    text-align: center;
}

.main-nav-list{
    display: flex;
    flex-direction: column;
}

.main-nav-list li{
    background-color: #fff;
    color: green;
    font-weight: bold;
    margin: .2em .5em;
    flex: 1 50px;
    font-size: 1.5em;
    padding: 5px 20px;
}

.main-nav-list li a{
    color: green;
    display: flex;
    justify-content: center;
}


/* ---- Layout Containers ---- */
main{
    display: flex;
    flex-direction: column;
}

.banner{
    display: flex;
    min-height: 200px;
    padding-top: 20px;
    flex-direction: column;
}
.banner-text{
    padding-left: 2em;
    font-size: 1em;
}

.banner-text h2{
    font-size: 1.5em;
}
.banner-img{
    height: 350px;
    max-width: 300px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .4);
    border-radius: 15px;
    align-self: center;
    margin-bottom: 25px;
}
.section{
    min-height: 200px;
    padding: 10px 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.section:nth-child(even){
    background-color: green;
}
.section:nth-child(odd){
    background-color: whitesmoke;
}

.section h2{
    font-size: 2.5em;
    border-bottom:0px solid green;
    color: green;
    font-family: 'Source Code Pro', monospace;
}

.section:nth-child(even) h2{
    border-bottom:0px solid white;
    color: whitesmoke;
    ;
}

.tech ul{
    display: flex;
    color: white;
    flex-wrap: wrap;
}
.tech li{
    flex: 1 30%;
    justify-content: space-between;
    padding: .5em;
    background-color: darkgreen;
    margin: .5em;
    text-align: center;
    font-weight: 500;
    letter-spacing: .2rem;
}

.tech-img{
    width: 200px;
}

.banner p{
    font-size: 1em;
}

.tech-list{
    color: white;
}
.project-container{
    display:flex;
    flex-direction: column;
    align-items: center;
}
.button-row{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.projects{
    display: flex;
}

.projects-list{
    display: flex;
    flex-direction: column;
}

.projects-list li{
    display: flex;
    align-items: center;
    margin: auto;
    padding: 1em;
   
}

.project-img{
    width: 100%;
    box-shadow:  0px 3px 10px 0px rgba(0, 0, 0, .5);
    align-self: center;
}

.contact-form{
    width: 80%;
    align-self: center;
}

.contact-form input[type='text']{
    background-color: whitesmoke;
    border: 1px solid rgb(11, 46, 0);
    width: 60%;
    max-width: 300px;
    height: 1.5em;
    border-radius: 10px;
    box-shadow: 0px 3px 10px 0px rgba(18, 75, 0, .8);
    margin-bottom: 1em;
}

.contact-form label{
    font-size: 1.4rem;
    justify-self: center;
    color: whitesmoke;
}

.form-row{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
}
.submit-row{
    justify-content: space-evenly;
}

.connections-list{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.connections-img{
    width: auto;
    max-height: 50px;
    margin: auto;
}


/* ================================= 
  Media Queries
==================================== */

@media screen and (min-width: 776px) {
    .main-nav-list{
        flex-direction: row;
        justify-content: center;
    }
    main{
        width: 75%;
        margin: auto;
    }
    .section{
        margin: 30px 0;
        border: 1px solid rgba(0, 0, 0, .2);
        box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, .3);
        border-radius: 20px;
        color: white;
    }

    .banner{
        flex-direction: row;
    }

    .banner-text{
        padding-left: 5em;
        padding-right: 5em;
        font-size: 1rem;
    }

    .projects-list{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    .name{
        font-size: 3em;
    }



}
@media (min-width: 900px) {
    .projects-list li{
        width:50%;
    }
    .contact-form{
        width: 50%;
    }
    .name{
        font-size: 2em;
    }
    .main-header{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .main-nav-list{
        flex-direction: row;
        justify-content: center;
    }
    .banner-text{
        align-self: center;
    }
    
    .project-img{
        width: 100%;
    
    }
}
@media (min-width: 1285px) {
    .name{
        font-size: 2.5em;
    }
    .project-img{
        width: 100%;
    
    }
}

/* ---- Float clearfix ---- */

.clearfix::after {
    content: " ";
    display: table;
    clear: both;
}